*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #246b45;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    text-decoration: underline;
}

.bmi-hero {
    background: linear-gradient(90deg, #A8E6CF, #DCEDC1);
    text-align: center;
    padding: 50px 20px;
}

.bmi-box{

    padding: 60px 20px;
   background: #f0fdf4;
}
.bmi-info{

    text-align: center;
    margin-bottom: 40px;
}
.bmi-info h2{

    font-size: 45px;
    color: #2e8b57;
    margin-bottom: 10px;
    font-weight: bolder;
}
.bmi-info p{

    font-size: 20px;
    color: #555;
    word-spacing: 1px;

}

form{

  width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 45px;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

form label{

    font-size: 17px;
    color: #0f172a;
    display: block;
    margin-bottom: 8px;
}

input{
   width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  outline: none;
}


.btn {
  width: 100%;
  padding: 12px;
  background: #2e8b57;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
}

.btn:hover {
  background: #246b45;
}


.bmi-result {
  margin-top: 20px;
  padding: 15px;
  background: #ecfdf5;
  border-radius: 8px;
  text-align: center;
}

.bmi-result p {
  font-size: 15px;
  color: #0f172a;
  margin-bottom: 7px;
}


footer {
  background: #2e8b57;
  color: white; 
  font-size: 15px;
  padding-top: 50px;
}

.footer-container{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px 0px;
  padding: 0 60px 40px;
}

.footer-box{

  width: 100%
}

.footer-box h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 25px;
}

#footer-about{

  margin: 10px 10px  20px 0px ;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 12px;
}


.footer-box ul li {
  margin-bottom: 13px;
   list-style: none;
}

.footer-box ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #1e293b;
  padding-left: 20px;
}


.social-icons {
  margin-top: 15px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
  color: #1e293b;
  font-size: 16px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #22c55e;
  transform: translateY(-4px);
}


.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  margin-bottom: 12px;
}


.icon-circle {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle i {
  color: #1e293b;
  font-size: 15px;
}


.footer-bottom{

  width: 100%;
  background-color:#246b45;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15px;
}


@media (max-width: 768px) {

 .hamburger {
    display: flex;
    margin-left: 200px ;
  }

  .navbar ul {
    width: 100%;
    display: none;
    flex-direction: column;
    background: #2e8b57;
    margin-top: 10px;
  }

  .navbar ul li {
    text-align: center;
    padding: 12px 0;
  }

  .navbar ul.active {
    display: flex;
  }
  

   .bmi-box {
    padding: 40px 15px;
  }

  .bmi-info h2 {
    font-size: 28px;
  }

  .bmi-info p {
    font-size: 16px;
  }

  form {
    width: 100%;
    padding: 25px;
  }

  form label {
    font-size: 15px;
  }



  /* FOOTER */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 0 20px 30px;
    text-align: center;
  }

  .footer-box h3 {
    font-size: 20px;
  }

  .footer-box p,
  .footer-box ul li a {
    font-size: 14px;
  }

  .social-icons {
    justify-content: center;
  }

}


