* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Arial", sans-serif;
}

body {
 
  background-color: #f9f9f9;
  color: #333;
}

/* NAVBAR */
.navbar {
  background-color: #2e8b57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 5vw;
  flex-wrap: wrap;
}



.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

.logo a {
  color: white;
}

.nav-text li a{
  color: whites;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  position: relative;
}

.navbar a:hover {
  color: #c9ffd9;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#logoutItem {
  display: none;
}

/* SLIDER */
.slider {
  position: relative;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  margin-bottom: 40px;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
  transition: margin-left 0.6s ease;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.first img {
  filter: brightness(70%) blur(3px);
  transform: scale(1.05);
}

.slide img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter: brightness(70%);
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  padding: 24px 32px;
  border-radius: 10px;
}

.hero-btn {
  display: inline-block;
  margin-top: 16px;
  background: #2e8b57;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #45a049;
}

/* MANUAL DOTS */
.navigation-manual {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.manual-btn:hover {
  background: #fff;
}

/* Slide Switching */
#radio1:checked ~ .slides { 
  margin-left: 0; }
#radio2:checked ~ .slides { margin-left: -100%; }
#radio3:checked ~ .slides { margin-left: -200%; }
#radio4:checked ~ .slides { margin-left: -300%; }

.slider input[type="radio"] {
    display: none;
}

/* ABOUT SECTION */
.about {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 64px 5vw;
  background: #fff;
}


.about-text {
  flex: 1 1 350px;
  padding: 16px;
}

.about-text h2 {
  color: #2e8b57;
  font-size: 32px;
  margin-bottom: 16px;
}

.about-text p {
  color: #555;
  font-size: 20px;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 0 20px;
}

.about-img img:hover {
  transform: scale(1.05) rotate(15deg);
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}

.learn-btn {
  display: inline-block;
  margin-top: 16px;
  background: #2e8b57;
  color: white;
  padding: 10px 19px;
  border-radius: 5px;
  font-weight: bold;
}

.learn-btn:hover {
  background: #45a049;
}

.about-img img {
  width: 90%;
  max-width: 450px;
  border-radius: 10px;
}


.recommend-banner {
  background: #f0fdf4;
  padding: 70px 80px;
  margin: 60px 0;
  text-align: center;
}

.recommend-content {
  max-width: 900px;
  margin: auto;
}

.recommend-content h2 {
  font-size: 36px;
  color: #2e8b57;
  margin-bottom: 15px;
  font-weight: bold;
}

.recommend-content p {
  font-size: 20px;
  color: #555;
  margin-bottom: 35px;
  line-height: 1.6;
}

/* Button */
.recommend-btn {
  background: #2e8b57;
  color: #ffffff;
  padding: 14px 32px;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

.recommend-btn:hover {
  background: #45a049;
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}




/* PRODUCTS */
.products {
  text-align: center;
  padding: 64px 5vw;
  background: #f5fff7;
}

.products h2 {
  color: #2e8b57;
  margin-bottom: 32px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 35px;
}

.product-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  padding: 16px;
  transition: 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 3/2;
}

.product-card h3 {
  color: #2e8b57;
  margin-top: 16px;
}

.btn-more {
  display: inline-block;
  margin-top: 16px;
  background: #2e8b57;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-more:hover {
  background: #45a049;
}

/* FEATURES */
.features {
  text-align: center;
  padding: 64px 35px;
}

.features h2 {
  color: #2e8b57;
  margin-bottom: 35px;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.feature {
  background: #fff;
  border-radius: 10px;
  padding: 30px ;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: 0.5s ease;
}

.feature h3{

  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px

}
.feature p{

  font-size: 15px;
  color: #555;
}

.feature:hover{
  
  transform: translateX(-20px);
}

/* ===== FEEDBACK SECTION ===== */
.feedback-section {
  background: #f0fdf4;
  padding: 70px 20px;
  margin: 30px 0px;

}

/* Heading Center */
.feedback-info {
  text-align: center;
  margin-bottom: 45px;
}

.feedback-info h2 {
  font-size: 32px;
  color: #064e3b;
  margin-bottom: 6px;
}

.feedback-sub {
  font-size: 15px;
  color: #475569;
}

/* FLEX CONTAINER */
.feedback-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

/* CARD */
.feedback-card {
  background: #fff;
  padding: 20px 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
  flex: 0 1 calc(25% - 25px);
  text-align: center;
}

/* Hover Effect */
.feedback-card:hover {
  transform: translateY(-10px);
}

/* User Image */
.feedback-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #e5e7eb;
  margin-bottom: 12px;
}

/* Name */
.feedback-card h4 {
  font-size: 16px;
  color: #0f172a;
  margin-bottom: 2px;
}

/* Feedback Text */
.feedback-card p {
  font-size: 14px;
  color: #334155;
  margin-top: 15px;
  line-height: 1.7;
}




/* FOOTER */
footer {
  background: #2e8b57;
  color: white; 
  font-size: 15px;
  padding-top: 50px;
}

.footer-container{

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 30px 0px;
  padding: 0 60px 40px;
}

.footer-box{

  width: 100%
}

.footer-box h3 {
  color: #ffffff;
  margin-bottom: 15px;
  font-size: 25px;
}

#footer-about{

  margin: 10px 10px  20px 0px ;
}

.footer-box p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 12px;
}


.footer-box ul li {
  margin-bottom: 13px;
  list-style: none;
}

.footer-box ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.footer-box ul li a:hover {
  color: #1e293b;
  padding-left: 20px;
}


.social-icons {
  margin-top: 15px;
}

.social-icons a {
  width: 38px;
  height: 38px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 8px;
  color: #1e293b;
  font-size: 16px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #22c55e;
  transform: translateY(-4px);
}


.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 14px;
  margin-bottom: 12px;
}


.icon-circle {
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-circle i {
  color: #1e293b;
  font-size: 15px;
}


.footer-bottom{

  width: 100%;
  background-color:#246b45;
  padding: 20px;
  text-align: center;
  font-size: 15px;
}


@media (max-width: 768px) {

 .hamburger {
    display: flex;
  }

  .navbar ul {
    width: 100%;
    display: none;
    flex-direction: column;
    background: #2e8b57;
    margin-top: 10px;
  }

  .navbar ul li {
    text-align: center;
    padding: 12px 0;
  }

  .navbar ul.active {
    display: flex;
  }

  
  /* SLIDER */
  .slider {
    height: 320px;
  }

  .slide img {
    height: 320px;
  }

  .caption {
    padding: 14px 16px;
    font-size: 14px;
  }

  /* ABOUT */
  .about {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .about-text h2 {
    font-size: 24px;
  }

  .about-text p {
    font-size: 16px;
  }

  .recommend-content h2 {
    font-size: 26px;
  }

  .recommend-content p {
    font-size: 16px;
  }

  .recommend-btn {
    font-size: 15px;
    padding: 12px 26px;
  }


  /* PRODUCTS */
  .product-grid {
    grid-template-columns: 1fr;
  }

  /* FEATURES */
  .feature-grid {
    grid-template-columns: 1fr;
  }

  /* FEEDBACK */
  .feedback-card {
    flex: 1 1 100%;
  }

  /* FOOTER */
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    padding: 0 20px 30px;
    text-align: center;
  }

  .footer-box h3 {
    font-size: 20px;
  }

  .footer-box p,
  .footer-box ul li a {
    font-size: 14px;
  }

  .social-icons {
    justify-content: center;
  }

}