* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background: url('../img/back-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  filter: blur(6px);
  z-index: -1;
}

.box {
  background-color: rgba(255, 255, 255, 0.9);
  width: 400px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.heading{
    text-align: center;
    color: #2e8b57;
    margin-bottom: 10px; 
    font-size: 40px;
    font-weight: bolder;
}

form label {

  font-size: 15px;
  color: #0f172a;
  display: block;
  margin-bottom: 6px;
}

.input-login{
   
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  font-size: 14px;
  outline: none;
}

.btn {
  width: 100%;
  background-color:  #2e8b57;
  font-size: 15px;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #45a049;
}

p{
    margin: 10px;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}
a{
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    color: #45a049;
}
@media (max-width: 480px) {
  body {
    align-items: flex-start;
    padding-top: 40px;
  }

  .box {
    width: 95%;
    padding: 20px;
  }

  .heading {
    font-size: 20px;
  }

  label {
    font-size: 14px;
  }

  .input-login {
    font-size: 13px;
  }

  .btn {
    font-size: 13px;
    padding: 8px;
  }

  p {
    font-size: 12px;
  }
}