*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  font-family: "Arial", sans-serif;
}

.navbar {
  background-color: #2e8b57;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 5vw;
  flex-wrap: wrap;
   position: sticky; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000; 
}



.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}


.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

.logo a {
  color: white;
}

.nav-text li a{
  color: whites;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 19px;
  flex-wrap: wrap;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
  position: relative;
}

.navbar a:hover {
  color: #c9ffd9;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
}

#logoutItem {
  display: none;
}

@media (max-width: 768px) {

 .hamburger {
    display: flex;
  }

  .navbar ul {
    width: 100%;
    display: none;
    flex-direction: column;
    background: #2e8b57;
    margin-top: 10px;
  }

  .navbar ul li {
    text-align: center;
    padding: 12px 0;
  }

  .navbar ul.active {
    display: flex;
  }
}